.expandable {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  text-align: start;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: var(--fgColor-accent);

    &:has(a:hover) {
      color: inherit;
    }
  }
}
